/* app/about/about.module.css */
.blueBox {
  background-color: #050250; 
  width: 100%;
  max-width: 600px; 
  border-radius: 12px; 
  padding: 32px; 
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  margin-left: 600px;
  margin-top: 100px;
}
.blueBox:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0px 15px 0px #888888;
}

.boxText {
  color: #d1d5db; 
  font-size: 17px;
  line-height: 1.6;
  margin: 0;
}
